@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;

  height: 100vh;
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  width: 85%;
  height: 70%;
  margin: 8rem auto;
  background-color: white;

  padding: 0em 1.5em 1em;
  border-radius: 1.5em;
  position: relative;

  filter: drop-shadow(0 1em 1.5em rgba(0, 0, 0, 0.3));
}

.icon {
  position: relative;
  top: -17%;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  cursor: pointer;

  -webkit-filter: drop-shadow(0 1.8em 0 hsl(237, 12%, 33%, 0.234));
  filter: drop-shadow(0 1.8em 0 hsla(237, 12%, 33%, 0.234));
}

.faqtitle {
  text-align: center;
  margin: 1em 0 1em;
}

.open {
  font-weight: bold;
}

.open .answer {
  margin-top: 0.5em;
}

.open .dropdown-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.content-container {
  position: relative;
  top: -10%;
}

.idea {
  font-size: 1rem;
  padding: 1.2em 0;
  border-bottom: 1px solid lightgray;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question:hover,
.question:focus {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.answer {
  font-size: 0.9.5rem;
  font-weight: normal;
  color: hsl(240, 6%, 50%);
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 80%;
    height: 60%;
	max-height:700px;
    padding: 0em 1.5em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .content-container {
    position: initial;
    align-self: center;
    padding-right: 5em;
  }

  .icon {
	flex-basis:50%;
    left: -3rem;
    top: -5%;
    align-self: center;
	transform: scale(150%);

    -webkit-filter: drop-shadow(-10rem 1.8em 0 hsl(237, 12%, 33%, 0.234));
    filter: drop-shadow(0 2rem 0 hsla(237, 12%, 33%, 0.234));
  }


}

@media (min-width: 1000px) {
	.container {
		max-width:700px;
	}

}

@media (min-width: 1200px) {
	.container {
		max-width:800px;
	}
}

@media (min-width: 1450px) {
	.container {
		max-width:800px;
	}
	.icon {
		transform: scale(200%)
	}
}


@media (min-width: 1600px) {
	container: 

}
